<div class="card mt-4 mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="lead">You don't have an organisation yet. Please create or request to join an organisation</h1>
        <hr>
        <div class="row pt-3">
          <button class="btn btn-success btn-lg ml-2 ml-auto mr-auto" (click)="onClickCreateOrganisation()"><span><i class="bi bi-plus mr-2"></i></span>Create organisation</button>
          <button class="btn btn-primary btn-lg ml-2 ml-auto mr-auto" (click)="onClickFindOrganisation()"><span><i class="bi bi-search mr-2"></i></span>Find an organisation</button>
        </div>
      </div>
    </div>
  </div>
</div>




