<div class="headertext">
  <h2 style="font-size: 30px;" class="lead">Questions about organisations</h2>
</div>
<br>
<div id="accordionTwo" class="shadow-sm">
  <div class="card">
    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
         aria-controls="collapseOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
           aria-controls="collapseOne">
          How do I make a member of my organisation an Administrator?
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionTwo">
      <div class="card-body">
        This happens in the edit organisation page. First you click on edit organisation on the page of your organisation
        (under the profile tab). Then when in the edit screen, you can select the button 'change member roles' to make another
        person administrator, or remove their administrative rights. Changing happens by simply clicking on the current role.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
         aria-controls="collapseTwo">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
           aria-controls="collapseTwo">
          How do I leave an organisation?
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTwo">
      <div class="card-body">
        Simply press 'leave organisation' at the bottom of the information page of the organisation.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
         aria-controls="collapseThree">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
           aria-controls="collapseThree">
          What is the meaning of life?
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionTwo">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
