<div class="headertext">
  <h2 style="font-size: 30px;" id="my-profile-header" class="lead">Questions about the profile</h2>
</div>
<br>
<div id="accordion" class="shadow-sm">
  <div class="card">
    <div class="card-header" id="accountHeadingOne" data-toggle="collapse" data-target="#accountCollapseOne"
         aria-expanded="false" aria-controls="accountCollapseOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#accountCollapseOne" aria-expanded="false"
           aria-controls="accountCollapseOne">
          How do I add an organisation to my profile?
        </a>
      </h5>
    </div>

    <div id="accountCollapseOne" class="collapse" aria-labelledby="accountHeadingOne" data-parent="#accordion">
      <div class="card-body">
        First go to the profile tab in the navbar. After this you can select the 'my organisation' option in your profile.
        Here you will be prompted to either create an organisation, or find an organisation to which you would like to send
        a join request.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="accountHeadingTwo" data-toggle="collapse" data-target="#accountCollapseTwo"
         aria-expanded="false" aria-controls="accountCollapseTwo">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#accountCollapseTwo" aria-expanded="false"
           aria-controls="accountCollapseTwo">
          Why can I not immediately create a project when making a new account?
        </a>
      </h5>
    </div>
    <div id="accountCollapseTwo" class="collapse" aria-labelledby="accountHeadingTwo" data-parent="#accordion">
      <div class="card-body">
        The functionalities of this application depend on the fact that you have or are part of an organisation.
        Organisations are linked to projects and have a certain 'Level of engagement'. For more information about
        level of engagement and the DOE diagram, see the <span><a routerLink="/faq/diagram" class="inline-link">FAQ</a></span> of this subject
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="accountHeadingThree" data-toggle="collapse" data-target="#accountCollapseThree"
         aria-expanded="false" aria-controls="accountCollapseThree">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#accountCollapseThree" aria-expanded="false"
           aria-controls="accountCollapseThree">
          What do these reviews on my profile mean?
        </a>
      </h5>
    </div>
    <div id="accountCollapseThree" class="collapse" aria-labelledby="accountHeadingThree" data-parent="#accordion">
      <div class="card-body">
        It will be possible to give another user a review when you both have at some point worked on the same project.
        The reviews are based on a given list of attributes which you can score. The average scores and the reviews are
        then placed on the user's profile.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="accountHeadingFour" data-toggle="collapse" data-target="#accountCollapseFour"
         aria-expanded="false" aria-controls="accountCollapseFour">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#accountCollapseFour" aria-expanded="false"
           aria-controls="accountCollapseFour">
          What is the 'my invitations' tab
        </a>
      </h5>
    </div>
    <div id="accountCollapseFour" class="collapse" aria-labelledby="accountHeadingFour" data-parent="#accordion">
      <div class="card-body">
        This is where all your invitations, be it for a project or an organisation, will appear for you to accept or
        decline them.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="accountHeadingFive" data-toggle="collapse" data-target="#accountCollapseFive"
         aria-expanded="false" aria-controls="accountCollapseFive">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#accountCollapseFive" aria-expanded="false"
           aria-controls="accountCollapseFive">
          What is the meaning of life?
        </a>
      </h5>
    </div>
    <div id="accountCollapseFive" class="collapse" aria-labelledby="accountHeadingFive" data-parent="#accordion">
      <div class="card-body">
        Who knows, maybe 42?
      </div>
    </div>
  </div>
</div>
