<div class="footer-dark shadow-sm">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Profile</h3>
          <ul>
            <li><a href="#">My information</a></li>
            <li><a routerLink="profile/view-invites/">My invitations</a></li>
            <li><a href="#">My organisation</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Engage</h3>
          <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus
            elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
        </div>
      </div>
      <p class="copyright">Engage HvA© 2021</p>
    </div>
  </footer>
</div>
