<div class="headertext">
  <h2 style="font-size: 30px;" class="lead">Questions about projects</h2>
</div>
<br>
<div id="accordionTwo" class="shadow-sm">
  <div class="card">
    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
         aria-controls="collapseOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
           aria-controls="collapseOne">
          How do I leave a project?
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionTwo">
      <div class="card-body">
        Simply press 'leave project' at the bottom of the project page
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
         aria-controls="collapseTwo">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
           aria-controls="collapseTwo">
          How do I add an organisation to the degree of engagement diagram?
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTwo">
      <div class="card-body">
        This happens in the edit project page. Click on edit project. Then click on add/edit organisations. In the window
        that appears, you will be able to select an organisation, and specify the catagory it belongs to, and the level of
        engagement that it has with your project.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
         aria-controls="collapseThree">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
           aria-controls="collapseThree">
          How do I change the roles of my project members?
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionTwo">
      <div class="card-body">
        This happens in the edit project page. First click on 'edit project' at the bottom of the page. Then click on
        'Change member roles'. In the window that appears, you will be able to change the roles of all members in your project,
        not including yourself, because you are the owner.
      </div>
    </div>
  </div>
</div>
