.nav-link {
  color: black;
}

.nav-link:hover {
  cursor: pointer;
  background-color: #E8E8E8;
}

.active {
  background-color: #3B4044 !important;
  color: white;
}

.active:hover {
  background-color: #3B4044 !important;
  color: white;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
}

.card {
  border-radius: 10px;
}

.card-header {
  border-radius: 10px;
}
